.mySwiper {
  position: relative;
  /* padding-bottom: 50px; */
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  bottom: -50px; /* Push buttons below the carousel */
  right: 0px; /* Align to the bottom right */
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.swiper-button-prev {
  right: 50px; /* Move left button */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  color: white;
}
